<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?bd5eb702ed0f3e4824d9968f9ee5fef9";
      var s = document.getElementsByTagName("script")[0];
      if (window.location.hostname != '127.0.0.1' && window.location.hostname != 'localhost') {
        s.parentNode.insertBefore(hm, s);
      }
    })();
</script>

{{ if .Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
{{ end }}